@import reset.scss
@import "compass/css3/border-radius"
@import "compass/css3/box-shadow"
@import "compass/css3/images"

// Clearfix 
.clearfix 
	display: inline-block
	&:after
		content: "\00A0"
		display: block
		clear: both
		visibility: hidden
		line-height: 0
		height: 0
 
html[xmlns] .clearfix 
	display: block
 
* html .clearfix 
	height: 1%

// end clearfix

// Colors
$gray: #999
$dark-gray: #666
$light-gray: #ccc
$dark-blue: #369


// Typography
$sans: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif
$serif: "CrimsonSemibold", "Times New Roman", Georgia, serif
$italic: "CrimsonRomanItalic", "Times New Roman", Georgia, serif

h3, h4, header, footer, .principles, [class*="product"]
	font-family: $sans

h1, h2, h5, h6
	font-family: $serif
	font-weight: 500

header
	font-size: 12px
	color: $gray
	a
		text-decoration: none
		&:hover
			color: #6699cc
		&.sign-in
			color: #18afe0
			&:hover
				color: $dark-blue

h1, h2, h3, h4, h5, h6
	text-align: center

h1
	font-size: 54px
	line-height: 1.05em

h2
	font-size: 46px
	line-height: 1.05em
h3
	font-size: 21px
	line-height: 2em
	font-weight: bold
h4
	font-size: 14px
	font-weight: bold
	color: #cc0000
	line-height: 1.4em
h6
	font-size: 19px
	line-height: 3.8em

a
	color: #369

// Spacing and layout styles
body
	padding: 28px 48px 28px 58px

header
	width: 100%
	margin-bottom: 33px
	.greeting
		float: left
		margin-top: 3px
	.top-nav
		float: right
		li
			display: inline
			margin: 10px 10px

.centered 
	width: 825px
	margin: auto
	*
		display: block
		position: relative
		margin: auto
		text-align: center
	> p
		text-align: left !important
		margin: 30px 0 !important
		color: $dark-gray
		line-height: 1.5em
		font-size: 21px

.logo
	margin-bottom: 25px

.products
	width: 570px
	div
		margin: 4px
		padding: 20px 12px
		width: 158px
		float: left
		&:hover h3
			color: $dark-blue
	p	
		margin-top: 10px
		font-size: 12px
		line-height: 1.4em
		color: $dark-gray
	h3
		color: black

.product-boxes
	width: 680px
	div
		margin: 5px 21px
		padding: 20px 15px
		width: 148px
		float: left
		border: 1px solid rgba(#ccc, 0.3)
		+border-radius(4px)
		+box-shadow(rgba(#ccc,0.3) 0 0 2px 1px)
		+background-image(linear-gradient(#fff, rgba(#ccc, 0.3)))
	p
		margin-top: 10px
		font-size: 14px
		line-height: 1.4em
		color: #222

hr
	display: none
	border: none
	margin: 38px 0 30px !important
	clear: both
	&:after
		content: "\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0"
		background: url(../images/img-hr.png) no-repeat center

ol.principles
	list-style-type: none
	counter-reset: li
	margin: 35px 20px 0 35px
	float: left
	li
		position: relative
		margin: 0 0 0 25px
		width: 330px
		h4
			text-align: left !important
			font-size: 1.01em
		p
			margin: 5px 0 20px 0 !important
			text-align: left !important
			font-size: 12px
			color: black
			line-height: 1.2em
			letter-spacing: .01em
		&:before
			content: counter(li)
			counter-increment: li
			color: $light-gray
			font-family: $serif
			font-size: 56px
			position: absolute
			left: -45px
			top: -10px
			text-align: left !important



